a {
  transition: 0.15s;
  color: #ffffff;
  text-decoration: none;
}
a:hover { color: #dadada }

body {  
  margin: 2em auto;
  max-width: 40em;
  padding: 0 .62em 3.24em;
  font: 1.2em/1.62 sans-serif;
  line-height: 1.2;
  color: #ffffff;
  background: #000000;
}
