@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.links, .text, .headtext, .button {
    font-family: 'OpenSans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.headtext {
    margin: 50px;  
    position: justify;
    text-align: center;
    font-size: 30px;
    margin-bottom: 200px; 
}

.button {
  transition: 0.3s;
  color: #ffffff;
}

.links { margin-top: 40px; }
.button:hover { color: #999999;}
body { background-color: #181818; }
